Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$   ./Public/index.php [L]
RewriteRule ^([a-z]*)/([a-z]*)$   ./Public/index.php?page=$1.$2 [L]
RewriteRule ^([a-z]*)/([a-z]*)/([0-9]*)$   ./Public/index.php?page=$1.$2&p=$3 [L]
RewriteRule ^([a-z]*)/([a-z]*)/([a-z]*)$   ./Public/index.php?page=$1.$2.$3 [L]
RewriteRule ^([a-z]*)/([a-z]*)/([a-z]*)/([0-9]*)$   ./Public/index.php?page=$1.$2.$3&p=$4 [L]
RewriteRule ^([a-z]*)/([a-z]*)/([a-z0-9A-Z]*)$   ./Public/index.php?page=$1.$2&word=$3 [L]
RewriteRule ^([a-z]*)/([a-z]*)/([a-z]*)/([a-z0-9A-Z]*)$   ./Public/index.php?page=$1.$2.$3&word=$4 [L]
RewriteRule ^([a-z]*)/([a-z]*)/([a-z]*)/([a-z_]*)/([0-9]*)$   ./Public/index.php?page=$1.$2.$3&word=$4&p=$5 [L]
RewriteRule ^([a-z]*)/([a-z]*)/([a-z_]*)/([0-9]*)$   ./Public/index.php?page=$1.$2&word=$3&p=$4 [L]